<div class="border shadow w-50 mx-auto p-3">
    <h1 class="display-5 text-center">Login</h1>
    <form [formGroup]="loginData" (submit)="onUserLogin()">
        <input type="text" name="username" class="form-control p-2 my-3" formControlName="username"
            placeholder="Username" />
        <input type="password" name="password" class="form-control p-2 my-3 " formControlName="password"
            placeholder="Password" />
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>